<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cálculo de IMD</title>
	<%- include('partials/head'); -%>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-lock"></span>Cálculo de IMD</h1>
				<p>Ingresa o Registrarte</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Ingresar
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registrarte
				</a>
			</div>
		</div>
	</div>

</body>
</html>
